.tags.apd
  -if project.approved
    %a.btn.btn-mini.disabled.btn-approved
      Approved
  -if project.approved == nil
    %a.btn.btn-mini.disabled.btn-pending
      Pending
  -else
    %a.btn.btn-mini.disabled.btn-denied
      Denied