.home
  .home-banner
    %h2 Connect with student developers to solve software engineering problems.

  .marketing
    .container
      .row
        .about
          .content
            .heading{:style => "text-align: center"} Are you a non-profit?
            %p
              Are you looking for a group to develop a web or mobile application for your organization? Work closely with students from one of the nation's top CS programs to meet your technology need. Students can work with you to build or update an application to your specifications.
              %a.link{:href=>"/organization_intro", :style => "font-size: 16px"} Learn More.
              .sign-up-btn{:style => "text-align: center"}
                %a.btn.btn-large.btn-info{:href=>"/client/sign_up"} Sign up as a Client
        .about
          .content
            .heading{:style => "text-align: center"} Are you a developer?
            %p
              Are you enrolled in CS 169 (Software Engineering) or
              Looking to get involved in non-profit web application development? Use Project Portal to discover projects to work on created by real non-profit organizations looking for help.
              .sign-up-btn{:style => "text-align: center"}
                %a.btn.btn-large.btn-info{:href=>"/projects"} View Projects

  %hr{:style => "margin: 0"}

  .list-organizations
    .heading Learn about the Development Organizations
    .container
      .row
        .org
          %a{:href=>"http://www.calblueprint.org/"}
            %img.org-logo{:src=>"assets/blueprintlogo_600x380.png"}
        .org
          %a{:href=>"https://sites.google.com/site/ucbsaas/"}
            %img.org-logo{:src=>"assets/UCBlogo_600x380.png"}
