%div#search-projs
  = form_tag(search_path, :method => 'get') do
    .search-lbl= label_tag :search_string, 'Search:'
    = text_field_tag :search_string, (prev_search['search_string'] if prev_search), :placeholder => "optional search terms"

    %button.btn.btn-primary.btn-small{:id=>"search-btn", :type => "submit"} Search
  = form_tag(projects_path, :method => 'get') do
    %button.btn.btn-small.btn-link{:type => "submit"} Clear
