%div{:class=>"container page projects-index"}
  #allow-endless-scroll
  .title-section
    .heading.inline-title= "All Projects"
    - if user_signed_in? and is_client?
      .btn-group#new-proj-btn
        %a.btn.btn-success{:href => new_project_path}
          I'm ready to propose a project!
    .btn-toolbar.right-justify
      .btn-group#proj-tab{"data-toggle" => "buttons-radio"}
        %a.btn.btn-small.active#compact-proj-btn{:href => "#square-proj-view", 'data-toggle' => 'tab'}
          %i.icon-th-large
        %a.btn.btn-small#compact-proj-btn{:href => "#compact-proj-view", 'data-toggle' => 'tab'}
          %i.icon-list
  =render :partial=>"search_form", :locals => {:prev_search => @prev_search}

  #proj-content.tab-content
    - if @projects.empty?
      No publicly available projects yet.
    - else
      %div.tab-pane.active#square-proj-view.row
        =render(:partial => 'shared/project_square', :collection => @projects)
      %div.tab-pane#compact-proj-view
        %table
          - if user_signed_in?
            - @projects = Project.approved_projects + Project.unapproved_projects + Project.denied_projects
          =render(:partial => 'shared/project_compact', :collection => @projects)
    -will_paginate @projects, :param_name => 'page'
