%h4.details-title
  ="Set deadline for proposals (currently #{Rails.application.config.end_date.strftime("%B %-d, %Y")})"

=form_tag set_date_path do
  =date_select("dates", "end_date")
  =submit_tag 'Set Date', :class => "btn"
